@import url("https://fonts.googleapis.com/css?family=Alegreya|Lato");
.page-wrapper {
  display: flex;
  flex-flow: row wrap; }

.intro {
  flex: 0 0 100%; }

.main {
  flex: 0 0 75%; }

/* -------------------------------- 

xTypography 

-------------------------------- */
h1, h2 {
  font-family: "Alegreya", serif;
  color: #626E60; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (min-width: 280px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }
  @media only screen and (min-width: 280px) {
    h2 {
      font-size: 1.8rem;
      margin: 1em 0 1.4em; } }

section > h2::before {
  /* number before each section title */
  color: #161616; }

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #a2ada1; }
  p a {
    color: #945D60;
    text-decoration: underline; }
  @media only screen and (min-width: 280px) {
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

/* -------------------------------- 

xPreamble

-------------------------------- */
@media only screen and (min-width: 280px) {
  .preamble {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url("redflanel.svg");
    align-items: center;
    padding: 10px; } }
@media only screen and (min-width: 768px) {
  .preamble {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    text-align: left;
    background-image: url("redflanel.svg");
    align-items: end;
    padding: 10px; } }
@media only screen and (min-width: 1024px) {
  .preamble {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    text-align: left;
    background-image: url("redflanel.svg");
    align-items: end;
    padding: 10px; } }
/* -------------------------------- 

xWhats this about

-------------------------------- */
@media only screen and (min-width: 280px) {
  .explanation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    align-items: center;
    padding: 10px; } }
@media only screen and (min-width: 768px) {
  .explanation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    align-items: end;
    padding: 10px; } }
@media only screen and (min-width: 1024px) {
  .explanation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    align-items: end;
    padding: 10px; } }
/* --------------------------------

xBenefits

-------------------------------- */
@media only screen and (min-width: 280px) {
  .benefits {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    align-items: center;
    padding: 10px; } }
@media only screen and (min-width: 768px) {
  .benefits {
    justify-content: end;
    align-items: end; } }
/* -------------------------------- 

xParticipation

-------------------------------- */
@iclude MQ(S) {
  .participation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    padding: 10px; } }
@media only screen and (min-width: 768px) {
  .participation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    padding: 10px; } }
@media only screen and (min-width: 1024px) {
  .participation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    padding: 10px; } }
@media only screen and (min-width: 280px) {
  .sidebar {
    height: auto;
    display: flex;
    justify-content: center;
    color: #ffffff;
    z-index: 8;
    background-color: black;
    flex: 0 0 100%; } }
@media only screen and (min-width: 1024px) {
  .sidebar {
    height: auto;
    display: flex;
    justify-content: center;
    color: #ffffff;
    z-index: 8;
    background-color: black;
    flex: 0 0 25%; } }
@media only screen and (min-width: 768px) {
  .sidebar {
    height: auto;
    display: flex;
    justify-content: center;
    color: #ffffff;
    z-index: 8;
    background-color: black; } }

.requirements {
  background-image: url(../assets/dinner-plate.jpg);
  background-repeat: no-repeat;
  background-position: center; }
  .requirements h3 {
    text-align: center; }

header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  border-bottom: solid 3px #3C3C3C; }

.summary p:first-child {
  position: relative;
  text-align: justify; }
  @media only screen and (min-width: 280px) {
    .summary p:first-child {
      margin-left: 120px;
      margin-right: 120px; } }
  @media only screen and (min-width: 1024px) {
    .summary p:first-child:before {
      content: '(';
      position: absolute;
      top: 0;
      left: -35px;
      font-size: 75px;
      line-height: 1; }
    .summary p:first-child:after {
      content: ')';
      position: absolute;
      top: 0;
      right: -35px;
      font-size: 75px;
      line-height: 1; } }

/* -------------------------------- 

xBackground 

-------------------------------- */
body {
  max-width: 100%;
  width: 1200px;
  margin: auto;
  /* this is the page background */
  background-color: #ffffff; }

/*# sourceMappingURL=style-guide.css.map */
