@import url("https://fonts.googleapis.com/css?family=Alegreya|Lato");
.page-wrapper {
  display: flex;
  flex-flow: row wrap; }

.intro {
  flex: 0 0 100%; }

.main {
  flex: 0 0 100%; }
  @media only screen and (min-width: 768px) {
    .main {
      flex: 0 0 75%; } }

/* -------------------------------- 

xTypography 

-------------------------------- */
h1, h2 {
  font-family: "Alegreya", serif;
  color: #626E60; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em; }
  @media only screen and (min-width: 280px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }
  @media only screen and (min-width: 280px) {
    h2 {
      font-size: 1.8rem;
      margin: 1em 0 1.4em; } }

section > h2::before {
  /* number before each section title */
  color: #161616; }

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #a2ada1; }
  p a {
    color: #945D60;
    text-decoration: underline; }
  @media only screen and (min-width: 280px) {
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

/* -------------------------------- 

xPreamble

-------------------------------- */
@media only screen and (min-width: 280px) {
  .preamble {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url(../assets/redflanel.svg);
    align-items: center;
    padding: 10px; } }
@media only screen and (min-width: 768px) {
  .preamble {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    text-align: left;
    background-image: url(../assets/redflanel.svg);
    align-items: end;
    padding: 10px;
    width: 75%; } }
@media only screen and (min-width: 1024px) {
  .preamble {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    text-align: left;
    background-image: url(../assets/redflanel.svg);
    align-items: end;
    padding: 10px;
    width: 75%; } }
/* -------------------------------- 

xWhats this about

-------------------------------- */
@media only screen and (min-width: 280px) {
  .explanation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    align-items: center;
    padding: 10px; } }
@media only screen and (min-width: 768px) {
  .explanation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    align-items: end;
    padding: 10px; } }
@media only screen and (min-width: 1024px) {
  .explanation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    align-items: end;
    padding: 10px; } }
/* --------------------------------

xBenefits

-------------------------------- */
@media only screen and (min-width: 280px) {
  .benefits {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url(../assets/redflanel.svg);
    align-items: center;
    padding: 10px; } }
@media only screen and (min-width: 768px) {
  .benefits {
    justify-content: end;
    align-items: end; } }
/* -------------------------------- 

xParticipation

-------------------------------- */
@iclude MQ(S) {
  .participation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    padding: 10px; } }
@media only screen and (min-width: 768px) {
  .participation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    padding: 10px; } }
@media only screen and (min-width: 1024px) {
  .participation {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    text-align: left;
    background-image: url "redflanel.svg";
    padding: 10px; } }
@media only screen and (min-width: 280px) {
  .sidebar {
    height: auto;
    display: flex;
    justify-content: center;
    color: rgba(238, 238, 238, 0.7);
    flex: 0 0 100%; } }
@media only screen and (min-width: 1024px) {
  .sidebar {
    height: auto;
    display: flex;
    justify-content: center;
    color: rgba(238, 238, 238, 0.7);
    flex: 0 0 25%;
    position: fixed;
    top: 400px;
    right: 0; } }

.wrapper {
  position: relative;
  width: 80%;
  height: auto;
  margin: 7% auto;
  padding: 10px;
  border: tan solid 12px;
  border-top: #bda27e solid 12px;
  border-left: #b19876 solid 12px;
  border-bottom: #c9ad86 solid 12px;
  box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
  background-image: radial-gradient(circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient(215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient(circle at right, #111, #333333);
  background-color: #333; }

.wrapper:before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient(200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient(ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
  border: #2c2c2c solid 2px;
  padding-top: 20px; }

a {
  color: rgba(238, 238, 238, 0.7); }

.requirements {
  background-image: url(../assets/dinner-plate.jpg);
  background-repeat: no-repeat;
  background-position: center; }
  .requirements h3 {
    text-align: center; }

header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  border-bottom: solid 3px #3C3C3C;
  background: url(../assets/header.jpg) no-repeat;
  background-size: cover; }
  header * {
    color: #ffffff; }

.summary p:first-child {
  position: relative;
  text-align: justify; }
  @media only screen and (min-width: 768px) {
    .summary p:first-child {
      margin-left: 120px;
      margin-right: 120px; } }
  @media only screen and (min-width: 1024px) {
    .summary p:first-child:before {
      content: '(';
      position: absolute;
      top: 0;
      left: -35px;
      font-size: 75px;
      line-height: 1; }
    .summary p:first-child:after {
      content: ')';
      position: absolute;
      top: 0;
      right: -35px;
      font-size: 75px;
      line-height: 1; } }

/* -------------------------------- 

xBackground 

-------------------------------- */
body {
  max-width: 100%;
  width: 1200px;
  margin: auto;
  /* this is the page background */
  background-color: #FFF7E8; }

/*# sourceMappingURL=style-guide.css.map */
