// color palette - these colors will be the color swatches of the Colors section

$color-1: #945D60; // Terracotta
$color-2: #626E60; // Herb
$color-3: #AF473C; // Chili
$color-4: #3C3C3C; // Charcoal
$color-5: #ffffff; // white

// additional colors

$success: $color-2; // Herb
$alert: $color-3;  // Chili