/* --------------------------------

xBenefits

-------------------------------- */
@include MQ(S) {
  .benefits {
    border-radius: 10%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
    background-image: url(../assets/redflanel.svg);
    align-items: center;
    padding: 10px;
  }
}

@include MQ(M) {
  .benefits {
    justify-content: end;
    align-items: end;
  }
}