/* -------------------------------- 

xParticipation

-------------------------------- */
@iclude MQ(S) {
.participation{
 border-radius: 10%;
  height:auto;
  width:66vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  border: 2px solid black;
  text-align: left;
  background-image: url ("redflanel.svg");
  padding:10px;
}
}
@include MQ(M) {
.participation{
 border-radius: 10%;
  height:auto;
  width:66vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:start;
  border: 2px solid black;
  text-align: left;
  background-image: url ("redflanel.svg");
  padding:10px;
}
}
@include MQ(L) {
.participation{
 border-radius: 10%;
  height:auto;
  width:66vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:start;
  border: 2px solid black;
  text-align: left;
  background-image: url ("redflanel.svg");
  padding:10px;
}
}