/* -------------------------------- 

xParticipation

-------------------------------- */
@media only screen and (min-width: 768px) {
.participation{
 border-radius: 10%;
  height:45vw;
  width:66vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  border: 2px solid black;
  text-align: left;
  background-image: url ("redflanel.svg");
  z-index: 4;
}
}
@media only screen and (min-width: 1024px) {
}