/* -------------------------------- 

xPreamble

-------------------------------- */

@include MQ(S) {
.preamble{
  border-radius: 50px;
  height:auto;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  border: 2px solid black;
  text-align: left;
  background:rgba(255, 247, 231, 0.6);
  align-items:center;
  padding:10px;

  h3 {
    width: 100%;
    text-align: center;

   &:hover {
    transition: all 1s ease;
    transform: scale(1.2);
   }
  }
  }
 }
@include MQ(M) {
.preamble{
  border-radius: 50px;
  height:auto;
  display:flex;
  flex-flow:row wrap;
  justify-content:start;
  border: 2px solid black;
  text-align: left;
  background:rgba(255, 247, 231, 0.6);
  align-items:end;
  padding:10px;
  width: 45%;
	margin-right:55%;
  }
}
@include MQ(L) {
.preamble{
  border-radius: 50px;
  height:auto;
  display:flex;
  flex-flow:row wrap;
  justify-content:start;
  border: 2px solid black;
  text-align: left;
  background:rgba(255, 247, 231, 0.6);
  align-items:end;
  padding:10px;
  width: 45%;
	margin-right:55%;
  }
}