/* -------------------------------- 

xPreamble

-------------------------------- */

.preamble{
 border-radius: 50%;
  height:25vw;
  width:25vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  border: 2px solid black;
}
