.requirements {
    border-radius: 50px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    border: 2px solid black;
    padding: 10px; 
	width: 75%;
	margin:12.5%;
	background:rgba(255, 247, 231, 0.6);
  background-image: url(../assets/dinner-plate.jpg);
  background-repeat: no-repeat;
  background-position: center;

  h3 {
    width: 100%;
    text-align: center;

    &:hover {
      transition: all 1s ease;
      transform: scale(1.2);
    }
  }
}