//Sidebar partial//
.sidebar{
    @include MQ(S){
    height: auto;
    display: flex;
    justify-content: center;
    color: $white;
    z-index: 8;
    background-color: black;
    flex: 0 0 100%;
    }
    @include MQ(L){
    height: auto;
    display: flex;
    justify-content: center;
    color: $white;
    z-index: 8;
    background-color: black;
    flex: 0 0 25%;
    }
    @include MQ(M){
    height: auto;
    display: flex;
    justify-content: center;
    color: $white;
    z-index: 8;
    background-color: black;
    }
}