//Sidebar partial//
.sidebar{
    @include MQ(S){
    height: auto;
    width: 66vw;
    display: flex;
    justify-content: center;
    color: $white;
    z-index: 8;
    background-color: black;
    }
    @include MQ(L){
    height: auto;
    width: 25vw;
    display: flex;
    justify-content: center;
    color: $white;
    z-index: 8;
    background-color: black;
    }
    @include MQ(M){
    height: auto;
    width: 66vw;
    display: flex;
    justify-content: center;
    color: $white;
    z-index: 8;
    background-color: black;
    }
}