/* -------------------------------- 

xWhats this about

-------------------------------- */
@include MQ(S) {
.explanation{
    border-radius: 50px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 2px solid black;
    text-align: left;
   background:rgba(255, 247, 231, 0.6);
    align-items: center;
    padding: 10px;

    h3 {
      width: 100%;
      text-align: center;
      font-size: 1.6rem;

      &:hover {
        transition: all 1s ease;
        transform: scale(1.2);
      }
    }
}
}
@include MQ(M) {
.explanation{
    border-radius: 50px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    border: 2px solid black;
    text-align: left;
    background:rgba(255, 247, 231, 0.6);
    align-items: end;
    padding: 10px;
	width: 45vw;
	margin-left:55%;
}
}
@include MQ(L) {
.explanation{
    border-radius: 50px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: end;
    border: 2px solid black;
    text-align: left;
    background:rgba(255, 247, 231, 0.6);
    align-items: end;
    padding: 10px;
	width: 45%;
	margin-left:55%;
}
}