/* -------------------------------- 

xWhats this about

-------------------------------- */
@include MQ(S) {
.explanation{
 border-radius: 10%;
  height:45vw;
  width:66vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
  border: 2px solid black;
  text-align: left;
  background-image: url ("redflanel.svg");
  z-index: 2;
  align-items:center;
}
}
@include MQ(M) {
.explanation{
 border-radius: 10%;
  height:33vw;
  width:66vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:end;
  border: 2px solid black;
  text-align: left;
  background-image: url ("redflanel.svg");
  z-index: 2;
  align-items:end;
}
}
@include MQ(L) {
.explanation{
 border-radius: 10%;
  height:33vw;
  width:66vw;
  display:flex;
  flex-flow:row wrap;
  justify-content:end;
  border: 2px solid black;
  text-align: left;
  background-image: url ("redflanel.svg");
  z-index: 2;
  align-items:end;
}
}